.landing {
  position: relative;
  max-height: max(100vh, 100%);
  background: linear-gradient(180deg, #64B5F6 -52.11%, #FFF8E1 92.65%);
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #282828;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.imageoverlay {
  width: 100%;
  height: 100%;
  z-index: -2;
  pointer-events: none;
  background: url("/overlay.png");
  background-size: cover;
  mix-blend-mode: soft-light;
  pointer-events: none;
  opacity: 0.25;
}

.landing_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  z-index: 1;
}

.title_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title > p {
  font-style: normal;
  font-weight: 400;
  font-size: 5vw;
  font-size: clamp(1.2rem, 5vw, 2rem);
  line-height: 101.5%;  
  letter-spacing: -0.04em;
}

.title > p > b {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(3.5rem, 15vw, 7rem);
  /* font-size: 100.888px; */
  line-height: 85.5%;
  letter-spacing: -0.05em;
}

.title > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(1.8rem, 3.5vw, 3.5rem);
  line-height: 101.5%;
  
  letter-spacing: -0.02em;
  color: #452F0E;
  margin-bottom: 20px;
}

.title > button {
  text-align: center;
}

.mascot_wrapper {
  padding-top: 200px;
  width: 100%;
}

.mascot {
  position: relative;
  height: 600px;
  padding-bottom: 100px;
}
.mascot > img {
  position: absolute;
  left: 30%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.mascot > :nth-child(1) {
  top: 40%;
  width: max(20vw, 240px);
}

.mascot > :nth-child(2) {
  top: 60%;
  /* width: minmax(540px, 55vw); */
  width: max(30vw, 340px);
}

.mascot > :nth-child(3) {
  top: 80%;
  width: max(15vw, 180px);
}

.mascot > :nth-child(4) {
  top: 35%;
  width: max(20vw, 240px);
}

.tree {
  position: absolute;
  right: 0;
  height: 100%;
}

.plant1 {
  position: absolute;
  width: clamp(2rem, 35vw, 10rem);
  left: 0;
  bottom: 40px;
}

.plant2 {
  position: absolute;
  right: 0;
  bottom: 40px;
  width: clamp(2rem, 35vw, 10rem);
}

@media only screen and (max-width: 1024px) {
  .landing {
    height: 100%;
  }
  .landing_wrapper {
    flex-direction: column;
    height: 100%;
    padding-top: 100px;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title > h2 {
    text-align: center;
  }

  .title_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .mascot_wrapper {
    flex: 1;
    max-height: 500px;
    padding-top: 0;
  }

  .mascot {
    position: relative;
  }

  .mascot > img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .mascot > :nth-child(1) {
    top: 20%;
  }
  
  .mascot > :nth-child(2) {
    top: 40%;
  }
  
  .mascot > :nth-child(3) {
    top: 60%;
  }
  
  .mascot > :nth-child(4) {
    top: 15%;
  }
}

.tracks {
  position: relative;
  background: linear-gradient(180deg, #FFFBDF 0%, #44BDAF 89.45%);
  min-height: 100vh;
  color: #032E36;
  font-weight: 700;
  font-size: clamp(1.5rem, 5vw, 3.5rem); 
  line-height: 110%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.tracks_image_container {
  display: flex;
  gap: 60px;
}

.coin {
  margin-top: 100px;
  width: 300px;
  height: 300px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  z-index: 2;
}

.coin__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.coin1__face__front {
  background: url("/coin 2.svg");
  background-position: center;
  background-size: contain;
}

.coin1__face__back {
  background: url("/coin 3.svg");
  background-position: center;
  background-size: contain;
  transform: rotateY( 180deg );
}

.coin2__face__front {
  background: url("/coin 4.svg");
  background-position: center;
  background-size: contain;
}

.coin2__face__back {
  background: url("/coin 5.svg");
  background-position: center;
  background-size: contain;
  transform: rotateY( 180deg );
}

.coin:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

.ship {
  position: absolute;
  bottom: 0;
  margin-top: 100px;
  transform: translateY(50px);
  width: 100%;
  pointer-events: none;
}

@media only screen and (max-width: 1024px) {
  .tracks_image_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .coin {
    margin-top: 40px;
    width: 200px;
    height: 200px;
  }
}

.about {
  position: relative;
  min-height: max(600px, 100vh);
  background: linear-gradient(180.05deg, #FFFBDF 1.4%, rgba(252, 197, 81, 0.921118) 52.57%, rgba(250, 167, 1, 0.876923) 99.96%);
  display: flex;
  align-items: center;
}

.about_content {
  padding-left: 8%;
  max-width: 55%;
}

.about_content > h1:nth-of-type(1) {
  font-weight: 700;
  font-size: clamp(2.5rem, 6vw, 68px);
  /* font-size: 68px; */
  letter-spacing: -0.02em;
  line-height: 83%;
  color: #171717;
}

.about_content > h1:nth-of-type(2) {
  font-weight: 700;
  font-size: clamp(3rem, 10vw, 100px);
  /* font-size: 100px; */
  letter-spacing: -0.02em;
  line-height: 83%;
}

.about_content > p {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1rem, 5vw, 1.5rem);
  line-height: 101.5%;
  letter-spacing: -0.04em;
  color: #3F3C28;
}

.about_content > p > b {
  font-weight: 700;
  font-size: clamp(1rem, 5vw, 1.5rem);
  line-height: 101.5%;
  letter-spacing: -0.04em;
  color: #171717;
}

.about_content > p:nth-of-type(1) {
  margin-bottom: 1rem;
}

.about_content > h2 {
  font-size: max(26px, 1.6vw);
  line-height: max(26px, 1.6vw);
  color: #171717;
}
.about_content > h2:nth-of-type(1) {
  margin-bottom: 30px;
}
.about_content > h2:nth-of-type(2) {
  margin-top: 30px;
}

.brainIllustration {
  z-index: 1;
  position: absolute;
  bottom: -88px;
  right: -100px;
  scale: 80%;
}

.bulb {
  position: absolute;
  scale: 80%;
  top: -30px;
  left: 390px;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    scale: 80%;
   }
   50% {
    scale: 100%;
   }
   100% {
    scale: 80%;
   }
}

@media only screen and (max-width: 1024px) {
  .about_content {
    padding: min(8%, 30px);
    max-width: 100%;
  }

  .about_content > h1 :nth-of-type(1) {
    font-size: 2.5rem;
    line-height: 70%;
  }

  .about_content > h1 {
    font-size: rem;
    line-height: 95%;
    color: #171717;
  }

  .about_content > h2 {
    font-size: 1.2rem;
    line-height: 90%;
    color: #452F0E;
  }
}

.sponsors {
  display: flex;
  align-items: center;
  padding: 4%;
  padding-bottom: 200px;
  background-color: #FFFBDC;
}

.sponsors > .wrapper {
  position: relative;
  border-radius: 25.7249px;
  width: 100%;
  background-color: #6AB764;
  padding: 8%;
  border-radius: 25.7249px;
}

.sponsors > .wrapper > .overlay {
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
}

.sponsors > .wrapper > .hflex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.treasurechest {
  width: clamp(2.5rem, 10vw, 7rem);
  scale: 250%;
}

.hflex > div > h1 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(2rem, 9vw, 5rem);
  line-height: 86%;
  color: #FFFDD9;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.sponsorContainer {
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
}

.sponsorCategory > h2 {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1rem, 7vw, 3rem);
  line-height: 86%;
  letter-spacing: -0.02em;
  margin: 50px 0px 20px 0px;
  
  color: #FFFDD6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@media only screen and (max-width: 1024px) {
  .sponsorContainer {
    flex-direction: column;
  }

  .hflex > div > h1 {
    -webkit-text-stroke-width: 1px;
  } 

  .sponsorCategory > h2 {
    -webkit-text-stroke-width: 0.5px;
  }
}

.mobileError {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  justify-content: center;
  font-size: max(6px, 1.5vw);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-color: #6AB764;
}