.about-bg{
    background-color: #FFFAE0;
    margin: -6% 0;
    padding: 4% ;
}

.about-pg{
    background-color:  #66BB6A;
    position: relative;
    padding: 6%;
    margin: 5%;
    border-radius: 25.7249px;
}

.about-title{
  
   color: #FFFDD9;
   -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    line-height: 3rem;
}

.about{
    font-size: 60px;
    text-decoration-color: black;
}

.about-content p{
    font-style: normal;
font-weight: 600;
font-size: 25.6985px;

}

.technoverse{
    font-size: 80px;
    
}

.bold{
    font-weight: 600;
}

.about-desc{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: 4%;
}

.promo-vid{
    width: 484px;
    height: 255.13px;
    background-color: #453300;
    border-radius: 30.8218px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.about-content{
    font-style: normal;
    font-weight: 400;
    font-size: 23.592px;
    line-height: 101.5%;
    letter-spacing: -0.04em;
    width: 459px;
    margin-bottom: 5%;
   
}

.about-content-inner{
    width: 477px;
height: 225px;
    font-style: normal;
font-weight: 400;
font-size: 22.0056px;
line-height: 101.5%;
/* or 32px */

letter-spacing: -0.04em;
}