.sponsorItemLink {
    background-color: #FFFDD6;
    border: 1.93064px solid #000000;
    border-radius: 11.5839px;
    max-width: fit-content;
    display: flex;
    padding: 15px 20px;
}

.sponsorItem {
    width: 100%;
    height: 100%;
    z-index: 1;
}